

<table>
  <tr>
    <th class="teste">Premiação</th>
    <th>Estoque Inicial</th>
    <th>Premios Entregues</th>
    <th>Saldo</th>
  </tr>
  <tr *ngFor="let item of painelDados">
    <td class="row-produto">{{item.nome}}</td>
    <td class="row-tabela">{{item.quantidade_inicial}}</td>
    <td class="row-tabela">{{item.quantidade_entregue}}</td>
    <td class="row-tabela">{{item.saldo_estoque}}</td>
  </tr>
</table>

<div class="botoes">
  <button class="btn-salvar"  (click)="onSubmit()">Atualizar</button>
</div>
